.themeRed {
	--uni-all-color: #f92801;
	--uni-all-color-0: rgba(249, 40, 1, 0);
	--uni-all-color-1: rgba(249, 40, 1, 0.1);
	--uni-all-color-2: rgba(249, 40, 1, 0.2);
	--uni-all-color-4: rgba(249, 40, 1, 0.4);
	--uni-all-color-6: rgba(249, 40, 1, 0.6);
	--uni-all-color-7: rgba(249, 40, 1, 0.7);

	// 前景色
	--uni-foreground: rgba(117, 76, 133, 1);
	--uni-foreground-0: rgba(117, 76, 133, 0);
	--uni-foreground-1: rgba(117, 76, 133, 0.1);
	--uni-foreground-2: rgba(117, 76, 133, 0.2);
	--uni-foreground-7: rgba(117, 76, 133, 0.7);
	--uni-foreground-9: rgba(117, 76, 133, 0.9);

	// 文字颜色
	--uni-text-color: #fff;
}

.themeGreen {
	--uni-all-color: #009688;
	--uni-all-color-0: rgba(0, 150, 136, 0);
	--uni-all-color-1: rgba(0, 150, 136, 0.1);
	--uni-all-color-2: rgba(0, 150, 136, 0.2);
	--uni-all-color-4: rgba(0, 150, 136, 0.4);
	--uni-all-color-6: rgba(0, 150, 136, 0.6);
	--uni-all-color-7: rgba(0, 150, 136, 0.7);

	// 前景色
	--uni-foreground: rgba(72, 106, 109, 1);
	--uni-foreground-0: rgba(72, 106, 109, 0);
	--uni-foreground-1: rgba(72, 106, 109, 0.1);
	--uni-foreground-2: rgba(72, 106, 109, 0.2);
	--uni-foreground-7: rgba(72, 106, 109, 0.7);
	--uni-foreground-9: rgba(72, 106, 109, 0.9);

	// 文字颜色
	--uni-text-color: #fff;
}

.themeBlue {
	--uni-all-color: #0091ea;
	--uni-all-color-0: rgba(0, 145, 234, 0);
	--uni-all-color-1: rgba(0, 145, 234, 0.1);
	--uni-all-color-2: rgba(0, 145, 234, 0.2);
	--uni-all-color-4: rgba(0, 145, 234, 0.4);
	--uni-all-color-6: rgba(0, 145, 234, 0.6);
	--uni-all-color-7: rgba(0, 145, 234, 0.7);

	// 前景色
	--uni-foreground: rgba(23, 42, 201, 1);
	--uni-foreground-0: rgba(23, 42, 201, 0);
	--uni-foreground-1: rgba(23, 42, 201, 0.1);
	--uni-foreground-2: rgba(23, 42, 201, 0.2);
	--uni-foreground-7: rgba(23, 42, 201, 0.7);
	--uni-foreground-9: rgba(23, 42, 201, 0.9);

	// 文字颜色
	--uni-text-color: #fff;
}

.themeIndigo {
	--uni-all-color: #3f51b5;
	--uni-all-color-0: rgba(63, 81, 181, 0);
	--uni-all-color-1: rgba(63, 81, 181, 0.1);
	--uni-all-color-2: rgba(63, 81, 181, 0.2);
	--uni-all-color-4: rgba(63, 81, 181, 0.4);
	--uni-all-color-6: rgba(63, 81, 181, 0.6);
	--uni-all-color-7: rgba(63, 81, 181, 0.7);

	// 前景色
	--uni-foreground: rgba(86, 120, 154, 1);
	--uni-foreground-0: rgba(86, 120, 154, 0);
	--uni-foreground-1: rgba(86, 120, 154, 0.1);
	--uni-foreground-2: rgba(86, 120, 154, 0.2);
	--uni-foreground-7: rgba(86, 120, 154, 0.7);
	--uni-foreground-9: rgba(86, 120, 154, 0.9);

	// 文字颜色
	--uni-text-color: #fff;
}

.themePurple {
	--uni-all-color: #7b1fa2;
	--uni-all-color-0: rgba(123, 31, 162, 0);
	--uni-all-color-1: rgba(123, 31, 162, 0.1);
	--uni-all-color-2: rgba(123, 31, 162, 0.2);
	--uni-all-color-4: rgba(123, 31, 162, 0.4);
	--uni-all-color-6: rgba(123, 31, 162, 0.6);
	--uni-all-color-7: rgba(123, 31, 162, 0.7);

	// 前景色
	--uni-foreground: rgba(3, 16, 50, 1);
	--uni-foreground-0: rgba(3, 16, 50, 0);
	--uni-foreground-1: rgba(3, 16, 50, 0.1);
	--uni-foreground-2: rgba(3, 16, 50, 0.2);
	--uni-foreground-7: rgba(3, 16, 50, 0.7);
	--uni-foreground-9: rgba(3, 16, 50, 0.9);

	// 文字颜色
	--uni-text-color: #fff;
}
